@import "reset";
@import "variables";
@import "function";

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: $background;

    #root {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        position: relative;
    }
}